*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  scrollbar-width: thin;
  scrollbar-color: #000 grey;
}
*::-webkit-scrollbar,
*::before::-webkit-scrollbar,
*::after::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
*::-webkit-scrollbar-track,
*::before::-webkit-scrollbar-track,
*::after::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
*::-webkit-scrollbar-thumb,
*::before::-webkit-scrollbar-thumb,
*::after::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 10px;
}
*::-webkit-scrollbar-thumb:hover,
*::before::-webkit-scrollbar-thumb:hover,
*::after::-webkit-scrollbar-thumb:hover {
  background: #444;
}

.g-container {
  width: 100%;
  margin-left: auto !important;
  margin-right: auto !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
}
@media only screen and (min-width: 576px) {
  .g-container {
    max-width: 540px;
  }
}
@media only screen and (min-width: 768px) {
  .g-container {
    max-width: 720px;
  }
}
@media only screen and (min-width: 992px) {
  .g-container {
    max-width: 960px;
  }
}
@media only screen and (min-width: 1200px) {
  .g-container {
    max-width: 1140px;
  }
}
@media only screen and (min-width: 1400px) {
  .g-container {
    max-width: 1320px;
  }
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

button {
  cursor: pointer;
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  position: relative;
  background-color: #fff;
}

.loading-page {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  z-index: 9999;
  transition: all 0.3s ease-in-out;
}
.loading-page .loading-page-wrapper {
  height: 100vh;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.loading-page .loading-page-wrapper h2 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 0 0 20px #f6c316, 0 0 20px #f6c316, 0 0 20px #f6c316;
  font-size: 2rem;
}
.loading-page .loading-page-wrapper .loading-page-img {
  max-width: 450px;
}
.loading-page .loading-page-wrapper .loading-page-progress {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 450px;
}
.loading-page .loading-page-wrapper .loading-page-progress h3 {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
}
.loading-page .loading-page-wrapper .loading-page-progress .progress-bar {
  color: #000;
  width: 75%;
  background-color: #005900;
  height: 22px;
  padding: 5px;
  overflow: hidden;
  border-right: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
}
.loading-page .loading-page-wrapper .loading-page-progress .progress-bar .progress {
  background-color: #a3ff15;
  height: 100%;
  width: 0%;
  background: linear-gradient(-45deg, #4caf50 25%, #6fdc6f 25%, #6fdc6f 50%, #4caf50 50%, #4caf50 75%, #6fdc6f 75%);
  background-size: 20px 20px;
  animation: stripe-animation 2s linear infinite;
}
@keyframes stripe-animation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 40px 0;
  }
}

.media {
  background-color: #183d82;
}
.media .media-wrapper {
  padding: 40px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  gap: 30px;
  min-height: 100vh;
}
.media .media-wrapper .media-options {
  position: relative;
  width: 400px;
  height: 200px;
  overflow: hidden;
  box-shadow: inset 0 24px 40px -25px rgba(255, 255, 255, 0.2), inset 0 -24px 40px -25px rgba(255, 255, 255, 0.2);
}
.media .media-wrapper .media-options ul {
  height: 100%;
  transition: all 0.3s ease-in-out;
}
.media .media-wrapper .media-options ul li {
  color: #fff;
  font-size: 1.4rem;
  padding: 3px 15px;
  transition: all 0.3s ease-in-out;
  border: 2px solid transparent;
  border-radius: 5px;
  cursor: pointer;
}
.media .media-wrapper .media-options ul li.active {
  color: #fff;
  background-color: #026002;
  border-color: #00c000;
}
.media .media-wrapper .media-content ul li {
  display: none;
  color: #fff;
}
.media .media-wrapper .media-content ul li h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.media .media-wrapper .media-content ul li .media-content-btns {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.media .media-wrapper .media-content ul li .media-content-btns button {
  background-color: transparent;
  color: #fff;
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
  justify-content: center;
  padding: 5px;
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
}
.media .media-wrapper .media-content ul li .media-content-btns button .media-content-img {
  width: 77%;
  height: -moz-fit-content;
  height: fit-content;
}
.media .media-wrapper .media-content ul li .media-content-btns button h4 {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 1px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.media .media-wrapper .media-content ul li .media-content-btns button.active, .media .media-wrapper .media-content ul li .media-content-btns button:hover {
  background-color: green;
}
.media .media-wrapper .media-content ul li .media-content-btns button.active h4, .media .media-wrapper .media-content ul li .media-content-btns button:hover h4 {
  visibility: visible;
  opacity: 1;
}
.media .media-wrapper .media-content ul li.active {
  display: block;
}
@media only screen and (max-width: 992px) {
  .media .media-wrapper {
    grid-template-columns: 1fr;
    align-items: start;
  }
  .media .media-wrapper .media-options {
    width: 100%;
    max-width: 400px;
  }
  .media .media-wrapper .media-content ul li .media-content-btns {
    justify-content: center;
  }
  .media .media-wrapper .media-content ul li .media-content-btns button {
    width: 140px;
    height: 140px;
  }
}/*# sourceMappingURL=style.css.map */