*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

button {
  cursor: pointer;
  border: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  position: relative;
  background-color: #fff;
}

.game-wrapper {
  height: 100vh;
  display: grid;
  grid-template-rows: 50px calc(100vh - 266px) 200px;
  background: url("../img/bg.png") no-repeat center center;
  background-size: cover;
  gap: 8px;
}
.game-wrapper .analysis {
  display: grid;
  grid-template-columns: 1fr 100px 1fr;
  gap: 10px;
  grid-template-rows: 50px;
}
.game-wrapper .analysis div img {
  height: 100%;
}
.game-wrapper .game-box {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 100%;
  gap: 10px;
}
.game-wrapper .game-box .left-side-btns ul,
.game-wrapper .game-box .right-side-btns ul {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 5px;
  justify-content: center;
  padding: 0 10px;
}
.game-wrapper .game-box .left-side-btns ul li,
.game-wrapper .game-box .right-side-btns ul li {
  display: flex;
  align-items: center;
  justify-content: center;
}
.game-wrapper .game-box .left-side-btns ul li button,
.game-wrapper .game-box .right-side-btns ul li button {
  background: transparent;
  width: 50px;
  height: 50px;
}
.game-wrapper .game-box .left-side-btns ul li button img,
.game-wrapper .game-box .right-side-btns ul li button img {
  height: 100%;
}
.game-wrapper .game-box .game-view {
  -webkit-clip-path: polygon(100% 0px, 100% 34.82%, 99.15% 34.82%, 99.15% 56.12%, 100% 56.12%, 100% 100%, 3.42% 100%, 3.42% 85.5%, 0.8% 85.5%, 0.8% 75%, 0% 75%, 0% 35%, 0px 12px, 8% 12px, 8% 0%);
          clip-path: polygon(100% 0px, 100% 34.82%, 99.15% 34.82%, 99.15% 56.12%, 100% 56.12%, 100% 100%, 3.42% 100%, 3.42% 85.5%, 0.8% 85.5%, 0.8% 75%, 0% 75%, 0% 35%, 0px 12px, 8% 12px, 8% 0%);
}
.game-wrapper .game-box .game-view img {
  height: 100%;
}
.game-wrapper .game-info {
  display: grid;
  grid-template-columns: auto 1fr 1.5fr 1fr auto;
  gap: 5px;
  grid-template-rows: 100%;
}
.game-wrapper .game-info .left-side-light,
.game-wrapper .game-info .right-side-light {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 6px;
}
.game-wrapper .game-info .left-side-light span,
.game-wrapper .game-info .right-side-light span {
  display: block;
  background-color: #079802;
  width: 10px;
  height: 26px;
  box-shadow: 2px -1px 2px 2px #8b4e0d;
}
.game-wrapper .game-info .left-side-light span.blue-light,
.game-wrapper .game-info .right-side-light span.blue-light {
  background-color: #0010ff;
}
.game-wrapper .game-info .right-side-light span {
  box-shadow: -2px -1px 2px 2px #8b4e0d;
}
.game-wrapper .game-info > div {
  padding: 10px;
}
.game-wrapper .game-info img {
  height: 100%;
}
.game-wrapper .game-info .player-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.game-wrapper .game-info .player-info .player-info-title {
  background-color: #075204;
  padding: 4px 8px;
}
.game-wrapper .game-info .player-info .player-info-title h3 {
  color: #fff;
  font-size: 1rem;
}
.game-wrapper .game-info .player-info .player-info-content {
  flex: 1;
  background: url("../img/player-info.webp") no-repeat center center;
  background-size: cover;
  color: #07c900;
  padding: 4px 8px;
}/*# sourceMappingURL=style.css.map */