@use "./g-style";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  position: relative;
  background-color: #fff;
}

.game-wrapper {
  height: 100vh;
  display: grid;
  grid-template-rows: 50px calc(100vh - 266px) 200px;
  background: url("../img/bg.png") no-repeat center center;
  background-size: cover;
  gap: 8px;
  .analysis {
    display: grid;
    grid-template-columns: 1fr 100px 1fr;
    gap: 10px;
    grid-template-rows: 50px;
    div {
      img {
        height: 100%;
      }
    }
  }
  .game-box {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 100%;
    gap: 10px;
    .left-side-btns,
    .right-side-btns {
      ul {
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: 5px;
        justify-content: center;
        padding: 0 10px;
        li {
          display: flex;
          align-items: center;
          justify-content: center;
          button {
            background: transparent;
            width: 50px;
            height: 50px;
            img {
              height: 100%;
            }
          }
        }
      }
    }
    .game-view {
      clip-path: polygon(
        100% 0px,
        100% 34.82%,
        99.15% 34.82%,
        99.15% 56.12%,
        100% 56.12%,
        100% 100%,
        3.42% 100%,
        3.42% 85.5%,
        0.8% 85.5%,
        0.8% 75%,
        0% 75%,
        0% 35%,
        0px 12px,
        8% 12px,
        8% 0%
      );
      img {
        height: 100%;
      }
    }
  }

  // game info and maps

  .game-info {
    display: grid;
    grid-template-columns: auto 1fr 1.5fr 1fr auto;
    gap: 5px;
    grid-template-rows: 100%;
    .left-side-light,
    .right-side-light {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 10px 6px;
      span {
        display: block;
        background-color: #079802;
        width: 10px;
        height: 26px;
        box-shadow: 2px -1px 2px 2px #8b4e0d;
        &.blue-light {
          background-color: #0010ff;
        }
      }
    }
    .right-side-light {
      span {
        box-shadow: -2px -1px 2px 2px #8b4e0d;
      }
    }
    & > div {
      padding: 10px;
    }
    img {
      height: 100%;
    }
    .player-info {
      display: flex;
      flex-direction: column;
      gap: 5px;
      .player-info-title {
        background-color: #075204;
        padding: 4px 8px;
        h3 {
          color: #fff;
          font-size: 1rem;
        }
      }
      .player-info-content {
        flex: 1;
        background: url("../img/player-info.webp") no-repeat center center;
        background-size: cover;
        color: #07c900;
        padding: 4px 8px;
      }
    }
  }
}
